.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 15vh;
    border-style: solid;
    border-width: 0px;
    background-color:black;
}

#header-home-selected{
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    color:white;
}

#header-home-unselected{
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    color: white;
}

#header-info-selected{
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    color:white;
}


#header-info-unselected{
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    color: white;
}


