@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css");

* {
  box-sizing: border-box;
}

.social-icon {
  display: inline-flex;
  align-items: center;
  width: 32px;
  height: 100%;
  margin-left: 20px;
  color: white;
  text-decoration: none;
  transition: all 0.2s ease;
}

.social-icon:hover {
  color: orangered;
}

.web-logo {
  width: 70px;
  position: relative;
  top: -26px;
}

.navbar {
  display: flex;
}

.main-menu {
  display: flex;
  margin: 0;
}

.main-menu li {
  list-style: none;
  font-weight: 600;
  font-family: "Montserrat";
}

.main-menu li a {
  color: white;
}

.menu-item {
  display: inline-block;
  text-decoration: none;
  margin-left: 30px;
  margin-right: 30px;
  transition: all 0.2s ease-in-out;
}

.menu-item:hover {
  border-bottom: 1px solid orangered;
}

.user-panel {
  display: inline-block;
  color: white;
  font-family: "Montserrat";
  font-weight: 600;
}

.user-panel a {
  text-decoration: none;
  color: white;
}
